# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/api/node_modules
/rtmpserver/node_modules
# testing
/client/client/coverage
/api/client/coverage
/rtmpserver/client/coverage

# production
/client/build
/api/build
/rtmpserver/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/api/.DS_Store
/api/.env.local
/api/.env.development.local
/api/.env.test.local
/api/.env.production.local
/rtmpserver/.DS_Store
/rtmpserver/.env.local
/rtmpserver/.env.development.local
/rtmpserver/.env.test.local
/rtmpserver/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/api/npm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*
/rtmpserver/npm-debug.log*
/rtmpserver/yarn-debug.log*
/rtmpserver/yarn-error.log*
